.actives__payer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  margin-right: 5px;
  border-radius: 100%;
  border: 1px solid #000;
  background-color: var(--header-color-dark, #161616);

  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
}